<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <meta name="googlebot" content="index,follow">
    <meta http-equiv="content-language" content="en">
    <meta name="BingBOT" content="index,follow">
    <meta name="yahooBOT" content="index,follow">
    <meta name="slurp" content="index,follow">
    <meta name="msnbot" content="index,follow">
    <meta http-equiv="content-language" content="en">
    <meta name="csrf-token" content="zjFIphxenbJd3vbUDljeAVYACGh5NAaLCzsLDSJr">
    <meta property="fb:app_id" content="775198880325939">
    <link rel="shortcut icon" href="favicon.ico" type="image/png">
    <title>Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net
    </title>
    <meta name="description"
        content="phimnet - Phimmoichill (MotChill) | Xem phim online, phim hay vietsub full hd, phim mới, đầy đủ mọi thể loại, nội dung đa dạng phong phú chất lượng cao." "="">
    <meta name=" keywords"
        content="phimmoi.net 2023, phimnet.net, phimmoichill, motchill,Phim Trung Quốc, Phim Hàn Quốc, Phim chiếu rạp, Phim hành động, Phim kinh di, Phim hài, Phim hoạt hình, Phim Mỹ, Phim Võ Thuật, Phim bộ hay nhất, Xem phim Online">
    <link rel="canonical" href="https://phimnetg.net">
    <meta property="og:title"
        content="Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net">
    <meta property="og:description"
        content="phimnet - Phimmoichill (MotChill) | Xem phim online, phim hay vietsub full hd, phim mới, đầy đủ mọi thể loại, nội dung đa dạng phong phú chất lượng cao." "="">
    <meta property=" og:type" content="website">
    <meta property="og:url" content="https://phimnetg.net">
    <meta property="og:site_name"
        content="Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net">
    <meta property="og:image" content="/static/homepage/images/UburLB0.png">

    <meta name="twitter:card" content="website">
    <meta name="twitter:title"
        content="Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net">
    <meta name="twitter:description"
        content="phimnet - Phimmoichill (MotChill) | Xem phim online, phim hay vietsub full hd, phim mới, đầy đủ mọi thể loại, nội dung đa dạng phong phú chất lượng cao." "="">
    <meta name=" twitter:url" content="https://phimnetg.net">
    <meta name="twitter:site"
        content="Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net">
    <meta name="twitter:image" content="https://i.imgur.com/UburLB0.png">
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net","description":"phimnet - Phimmoichill (MotChill) | Xem phim online, phim hay vietsub full hd, phim mới, đầy đủ mọi thể loại, nội dung đa dạng phong phú chất lượng cao.\"","image":"https://i.imgur.com/UburLB0.png"}</script>

    <link rel="stylesheet" type="text/css" href="/static/homepage/homepage/css/owl.carousel.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/font-face.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/default.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/homepage/css/custom.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.core.min.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
    <script type="text/javascript" src="/static/js/js.cookie.js"></script>

    <style>
        div.vipads {
            max-width: 250px;
            margin: auto;
        }
    </style>
</head>

<body>


    <div id="page">
        <div id="header">
            <div class="container">
                <div class="top">
                    <div class="left logo" style="box-shadow: 0px 1px 3px rgba(0,0,0,0.2);">
                        <a href="/"
                            title="Xem Phim Chill Mới | Phim Bộ Mới | Phim Lẻ Mới | Phim Hay VietSub và Thuyết Minh 2023 | phimnetg.net">
                            <img style="height: 60px;margin-bottom: -55px" src="/static/homepage/images/UburLB0.png"
                                alt="motchill.net" title="Mọt Phim">
                        </a>
                    </div>
                    <div class="right-header">
                        <div class="search-container relative">
                            <form id="form_search" method="GET" action="/">
                                <input type="text" id="keyword" name="search" autocomplete="off"
                                    placeholder="V.d: tên phim, tên diễn viên..." value="">
                                <i class="fa fa-search" onclick="$('#form_search').submit();"></i>
                            </form>
                        </div>
                        <div id="box-user-menu" class="actions-user right">
                            <ul>
                                <li>
                                    <i class="fa fa-sign-in"></i>
                                    <a onclick="alert('Chức năng này đang cập nhật');return false;">Đăng nhập</a>
                                </li>
                                <li>
                                    <i class="fa fa-users"></i>
                                    <a onclick="alert('Chức năng này đang cập nhật');return false;">Đăng ký</a>
                                </li>
                                <li>
                                    <i class="fa fa-bookmark-o"></i>
                                    <a onclick="alert('Chức năng này đang cập nhật');return false;">Bookmark</a>
                                </li>
                            </ul>
                        </div>
                        <div class="suggest-dns">
                            <p>Công cụ tìm kiếm phim.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="btn-humber" class="btn-humber" onclick="btn_humber_click()">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <a id="responsive-logo" href="/"
                    title="Phim Mới | Phim HD | Xem Phim nhanh | Tổng Hợp VietSub, Thuyết Minh Hay | PhimNet.net"
                    class="logo">
                    <img style="height: 60px;margin-bottom: -55px" src="/static/homepage/images/UburLB0.png"
                        alt="motchill.net" title="Mọt Phim">
                </a>
                <div id="responsive-main-menu" class="main-menu" style="height: 835px;">
                    <ul class="container">
                        <li class="menu-item"><a title="Trang chủ" href="/">Trang chủ</a></li>
                        <li class="menu-item ">
                            <a id="responsive-category-a" title="Thể loại" onclick="expandMenu('category')">
                                Thể loại
                            </a>
                            <ul id="responsive-category-ul" class="sub-menu span absolute">
                                {% for category in categories %}
                                <li class="sub-menu-item">
                                    <a title="{{ category[1] }}" href="/the-loai/{{ category[0] }}">{{ category[1]
                                        }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item ">
                            <a id="responsive-nation-a" title="Quốc gia" onclick="expandMenu('nation')">
                                Quốc gia
                            </a>
                            <ul id="responsive-nation-ul" class="sub-menu span absolute">
                                {% for nation in nations %}
                                <li class="sub-menu-item">
                                    <a title="{{ nation[1] }}" href="/quoc-gia/{{ nation[0] }}">{{ nation[1] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item "><a title="Phim Lẻ" href="/phim-le">Phim Lẻ</a></li>
                        <li class="menu-item "><a title="Phim Bộ" href="/phim-bo">Phim Bộ</a></li>
                        <li class="menu-item "><a title="Phim Mới" href="/phim-moi">Phim Mới</a></li>
                        <li class="menu-item "><a title="Phim Chiếu Rạp" href="/phim-chieu-rap">Phim Chiếu
                                Rạp</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-menu">
                <ul class="container">
                    <li class="menu-item active"><a title="Trang chủ" href="/">Trang chủ</a></li>
                    <li class="menu-item ">
                        <a title="Thể loại">
                            Thể loại
                        </a>
                        <ul class="sub-menu span-4 absolute">
                            {% for category in categories %}
                            <li class="sub-menu-item">
                                <a title="{{ category[1] }}" href="/the-loai/{{ category[0] }}">{{ category[1]
                                    }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu-item ">
                        <a title="Quốc gia">
                            Quốc gia
                        </a>
                        <ul class="sub-menu span-4 absolute">
                            {% for nation in nations %}
                            <li class="sub-menu-item">
                                <a title="{{ nation[1] }}" href="/quoc-gia/{{ nation[0] }}">{{ nation[1] }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menu-item "><a title="Phim Lẻ" href="/phim-le">Phim Lẻ</a></li>
                    <li class="menu-item "><a title="Phim Bộ" href="/phim-bo">Phim Bộ</a></li>
                    <li class="menu-item "><a title="Phim Mới" href="/phim-moi">Phim Mới</a></li>
                    <li class="menu-item "><a title="Phim Chiếu Rạp" href="/phim-chieu-rap">Phim Chiếu
                            Rạp</a></li>
                </ul>
            </div>
        </div>


        <div id="content">
            <div class="main-content">
                <div class="container">
                    <style>
                        div.vipads {
                            max-width: 250px;
                            margin: auto;
                        }
                    </style>
                    <div class="clear"></div>
                    <ol class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" itemprop="item">
                                <span itemprop="name">Xem phim</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="https://phimnetw.net/quoc-gia/trung-quoc.html" itemprop="item">
                                <span itemprop="name">{{ movie[6] }}</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li class="active">{{ movie[1] }}</li>
                    </ol>
                    <div class="left-content" id="page-info" style="width: 100% !important;">
                        <div class="blockbody">
                            <iframe width="100%" height="480" src="{{ movie[10] }}" frameborder="0" scrolling="0"
                                allowfullscreen></iframe>
                            <div class="clear"></div>
                            <div class="episodes">
                                <div class="list-episode">
                                    {% for episode in episodes %}
                                    <a href="/trinh-xem-phim/{{ episode[0] }}" class=" current " title="{{
                                        episode[1] }}">{{
                                        episode[1] }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="detail">
                                <div class="tabs-content" id="info-film">
                                    <h3 class="heading"> Nội Dung Phim </h3>
                                    <div class="tab">
                                        <div style="text-align: justify;">
                                            <p>{{ movie[1] }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-films film-hot">
                                    <h2 class="title-box">
                                        <i class="fa fa-star-o"></i>
                                        <a href="javascript:void(0)">CÓ THỂ BẠN MUỐN XEM?</a>
                                    </h2>
                                    <ul id="film_related" class="relative">
                                        {% for nominate in nominates %}
                                        <li class="item" title="{{ nominate[1] }}">
                                            <span class="label">{{ nominate[3] }} {{ nominate[4] }}</span>
                                            <a href="https://phimnetw.net/phim/su-menh-bau-troi.html"
                                                title="{{ nominate[1] }} ({{ nominate[5] }})">
                                                <img class="img-film" title="{{ nominate[1] }}" alt="{{ nominate[1] }}"
                                                    src="{{ nominate[11] }}">
                                                <i class="icon-play"></i>
                                            </a>
                                            <div class="text absolute">
                                                <span class="">
                                                    <a href="/xem-phim/{{ nominate[0] }}"
                                                        title="{{ nominate[1] }} ({{ nominate[5] }})">{{ nominate[1] }}
                                                        ({{ nominate[5] }})</a>
                                                </span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <ul class="tags">
                                    <li class="caption">
                                        <span>Tags</span>
                                        <i class="fa fa-caret-right"></i>
                                    </li>
                                    <li class="tag-item">
                                        <h2>
                                            <a href="/xem-phim/{{ movie[0] }}">{{ movie[1] }}</a>
                                        </h2>
                                    </li>
                                    <li class="tag-item">
                                        <h2>
                                            <a href="/xem-phim/{{ movie[0] }}">{{ movie[2] }}</a>
                                        </h2>
                                    </li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn-contact" title="inbox">
            <i class="fa fa-envelope-o"></i>
        </a>
        <div id="footer">
            <div class="container">
                <div class="desc">
                    <p>
                        <b style="color: #ffff;">
                            <a href="/">phimnet</a>
                        </b> | Xem phim online, phim hay vietsub full hd, phim mới, đầy đủ mọi
                        thể loại, nội dung đa dạng phong phú chất lượng cao."
                    </p>
                </div>
                <div class="info">
                    <!--contact-->
                    <div class="column">
                        <div class="heading">Quy định</div>
                        <ul>
                            <li>
                                <a href="#">Điều khoản chung</a>
                            </li>
                            <li>
                                <a href="#">Chính sách riêng tư</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <div class="heading">Giới thiệu</div>
                        <ul>
                            <li>
                                <a href="#">Trang chủ</a>
                            </li>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="catfish" style="z-index:9992;text-align:center;width:100%;position:fixed;bottom:0px;left:0px">

        <style>
            .mb-catfish {
                display: block;
                margin: 0 auto
            }

            .closecf {
                font-size: 14px;
                height: 30px;
                position: absolute;
                top: -30px;
                color: white;
                background: linear-gradient(to right, #C02425 0%, #F0CB35 50%, #C02425 100%);
                background-size: 300% 100%;
                transition: all .4s ease-in-out;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
        <script type="text/javascript">
            function hide_catfish() {
                var content = document.getElementById('catfish_content');
                var hide = document.getElementById('hide_catfish');
                if (content.style.display == "none") { content.style.display = "block"; hide.innerHTML = ''; }
                else {
                    content.style.display = "none"; hide.innerHTML = '';
                }
            } 
        </script>
    </div>
    <!-- <script> 
        var isMobile = {
            Android: function(){return navigator.userAgent.match(/Android/i);},
            BlackBerry: function(){return navigator.userAgent.match(/BlackBerry/i);},
            iOS: function(){return navigator.userAgent.match(/iPhone|iPad|iPod/i);},
            Opera: function(){return navigator.userAgent.match(/Opera Mini/i);},
            Windows: function(){return navigator.userAgent.match(/IEMobile/i)  navigator.userAgent.match(/WPDesktop/i);},
            any: function(){return (isMobile.Android()  isMobile.BlackBerry()  isMobile.iOS()  isMobile.Opera() || isMobile.Windows());}
        };
        if(isMobile.any())
        {
            $('.mb-catfish').css('display','block');
            $('.i9betmb').css('display','inline-block');
            $('.i9betpc').css('display','none');
            $('.box_odds').css('height','80px');
            $('.box_odds img').css('height','80px');
            $('.box_odds .text-1').css('font-size','12px');
            $('.box_odds .text-2').css('font-size','12px');
            $('.odds-info a').css('font-size','12px');
        }
        else
        {
            $('.mb-catfish').css('display','inline-block');
            $('.i9betpc').css('display','inline-block');
            $('.i9betmb').css('display','none');
        }
     </script> -->
    <script>
        if (window.innerWidth < 980) {
            document.querySelector(".top").style.display = 'none';
            document.querySelector(".btn-humber").style.display = 'block';
            document.querySelector("#responsive-logo").style.display = 'block';

        } else {
            document.querySelector(".top").style.display = 'block';
            document.querySelector(".btn-humber").style.display = 'none';
            document.querySelector("#responsive-logo").style.display = 'none';
        }

        window.addEventListener('resize', function () {
            if (window.innerWidth < 980) {
                document.querySelector(".top").style.display = 'none';
                document.querySelector(".btn-humber").style.display = 'block';
                document.querySelector("#responsive-logo").style.display = 'block';

            } else {
                document.querySelector(".top").style.display = 'block';
                document.querySelector(".btn-humber").style.display = 'none';
                document.querySelector("#responsive-logo").style.display = 'none';
            }
        });
    </script>
    <script src="/static/js/jquery.raty.js"></script>

    <script>
        $(document).ready(function () {
            $('.top-star').raty({
                readOnly: true,
                numberMax: 5,
                half: true,
                score: function () {
                    return $(this).attr('data-rating');
                },
                hints: ["bad", "poor", "regular", "good", "gorgeous"],
                space: false
            });
        })
    </script>

    <!-- Google tag (gtag.js) -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-3MECY8P4CK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3MECY8P4CK');
    </script>
    <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#film_hot").owlCarousel({
                items: 5,
                itemsTablet: [700, 3],
                itemsMobile: [479, 2],
                scrollPerPage: true,
                lazyLoad: true,
                navigation: true, // Show next and prev buttons
                slideSpeed: 800,
                paginationSpeed: 400,
                stopOnHover: true,
                pagination: false,
                autoPlay: 8000,
                navigationText: ['<i class="fa fa-angle-left"></i>', ' <i class="fa fa-angle-right"></i>'],
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            $("img.lazy").lazyload({
                effect: "fadeIn"
            });
        });
    </script>
    <script type="text/javascript">
        var link_image = 'https://phimnetg.net/banner/400x300.jpg';
        var link_click = 'https://www.i9bet125.com/Register?a=22776';
        var name_cookie = 'showPreload';
        var style_pop = 'width: 400px; max-width: 400px; height: 300px; left: 50%; top: 50%; transform: translate(-50%, -50%); position: fixed;';
        var NumberCookie = getCookie(name_cookie);
        var NumberCookie2 = NumberCookie + 1;
        function setCookie(e, n, o) {
            var t = ""; if (o) { var i = new Date; i.setTime(i.getTime() + 24 * 60 * 60 * 1000 / 8), t = "; expires=" + i.toUTCString() } document.cookie = e + "=" + (n || "") + t + "; path=/"
        }
        function getCookie(e) {
            for (var n = e + "=", o = document.cookie.split(";"), t = 0; t < o.length; t++) { for (var i = o[t]; " " == i.charAt(0);)i = i.substring(1, i.length); if (0 == i.indexOf(n)) return i.substring(n.length, i.length) } return null
        }
        function closePopupBeta1() {
            document.getElementById("mp-preload-popup-overlay").remove(), setCookie(name_cookie, 1, 1)
        }
        function closePopupBeta2() {
            document.getElementById("mp-preload-popup-overlay").remove(), setCookie(name_cookie, 2, 1)
        }
        function closePopupBeta3() {
            document.getElementById("mp-preload-popup-overlay").remove(), setCookie(name_cookie, 3, 1)
        }
        if (null == NumberCookie) {
            document.getElementById("ads-preload").innerHTML = '<div id="mp-preload-popup-overlay" style="position: fixed;z-index: 9999;background-color: rgba(0,0,0,0.8);width: 100%;height: 100%;border: 0;padding: 0;top: 0;left: 0;" onclick="closePopupBeta1()"><div id="mp-mb-preload" style="left: 50%;top:45%;transform: translate(-50%, -50%);position: fixed;border: 2px solid rgba(0,0,0,0.5);border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;z-index: 201;"><div style="position: relative;background: #666;"><a rel="nofollow" target="_blank" href="' + link_click + '"><img src="' + link_image + '" style="width: 400px; max-width: 400px; height: 300px;"></a><a rel="nofollow" href="javascript:void(0)" style="font-size: 15px;position: absolute;visibility: visible;right: 0px;font-weight: bold;display: inline-block;padding: 5px 10px;color: #FFF;background-color: rgba(0,0,0,0.7);border: .1px solid #FFF;" onclick="closePopupBeta1()">Đóng Quảng Cáo [X]</a></div></div></div>';
        } else if (1 == NumberCookie) {
            document.getElementById("ads-preload").innerHTML = '<div id="mp-preload-popup-overlay" style="position: fixed;z-index: 9999;background-color: rgba(0,0,0,0.8);width: 100%;height: 100%;border: 0;padding: 0;top: 0;left: 0;" onclick="closePopupBeta2()"><div id="mp-mb-preload" style="left: 50%;top:45%;transform: translate(-50%, -50%);position: fixed;border: 2px solid rgba(0,0,0,0.5);border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;z-index: 201;"><div style="position: relative;background: #666;"><a rel="nofollow" target="_blank" href="' + link_click + '"><img src="' + link_image + '" style="width: 400px; max-width: 400px; height: 300px;"></a><a rel="nofollow" href="javascript:void(0)" style="font-size: 15px;position: absolute;visibility: visible;right: 0px;font-weight: bold;display: inline-block;padding: 5px 10px;color: #FFF;background-color: rgba(0,0,0,0.7);border: .1px solid #FFF;" onclick="closePopupBeta2()">Đóng Quảng Cáo [X]</a></div></div></div>';
        } else if (2 == NumberCookie) {
            document.getElementById("ads-preload").innerHTML = '<div id="mp-preload-popup-overlay" style="position: fixed;z-index: 9999;background-color: rgba(0,0,0,0.8);width: 100%;height: 100%;border: 0;padding: 0;top: 0;left: 0;" onclick="closePopupBeta3()"><div id="mp-mb-preload" style="left: 50%;top:45%;transform: translate(-50%, -50%);position: fixed;border: 2px solid rgba(0,0,0,0.5);border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;z-index: 201;"><div style="position: relative;background: #666;"><a rel="nofollow" target="_blank" href="' + link_click + '"><img src="' + link_image + '" style="width: 400px; max-width: 400px; height: 300px;"></a><a rel="nofollow" href="javascript:void(0)" style="font-size: 15px;position: absolute;visibility: visible;right: 0px;font-weight: bold;display: inline-block;padding: 5px 10px;color: #FFF;background-color: rgba(0,0,0,0.7);border: .1px solid #FFF;" onclick="closePopupBeta3()">Đóng Quảng Cáo [X]</a></div></div></div>';
        }

        function btn_humber_click() {
            var element = document.getElementById("responsive-main-menu");
            if (element.classList.contains("expanded")) {
                element.classList.remove("expanded");
            } else {
                element.classList.add("expanded");
            }

            element = document.getElementById("btn-humber");
            if (element.classList.contains("active")) {
                element.classList.remove("active");
            } else {
                element.classList.add("active");
            }
        }

        function expandMenu(data) {
            var aTagId = `responsive-${data}-a`
            var ulTagId = `responsive-${data}-ul`

            console.log(aTagId)

            var element = document.getElementById(aTagId);
            if (element.classList.contains("active")) {
                element.classList.remove("active");
            } else {
                element.classList.add("active");
            }

            element = document.getElementById(ulTagId);
            if (element.classList.contains("expanded")) {
                element.classList.remove("expanded");
            } else {
                element.classList.add("expanded");
            }

        }
    </script>



</body>

</html>